@mixin mp () {
  margin: 0.5rem;
  padding: 0.5rem;
}

@mixin divPad ($bc) {
  div {
    display: inline-flex;
    background-color: $bc;
    @include mp();
  }
}

@mixin textCenter() {
  text-align: center;
  a{
    width: 100%;
  }
}

html {
  background-color: aqua;
}

header {
  background-color: white;
  display: flex;
  h1 {
    margin: 1rem;
  }
  img {
    margin: 1rem;
    width: 5%;
  }
}

body {
  display: block;
  .contenido {
    display: inline-flex;
    width: 100%;
    .productos {
      width: 100%;
      div {
        display: flex;
      }
      .beneficios {
        background-color: yellowgreen;
        @include mp();
      }
      .ejemplos {
        justify-content: space-evenly;
        @include divPad(red);
      }
      .testimonios {
        justify-content: space-evenly;
        @include divPad(yellow);
      }
    }
    .formulario {
      display: flex;
      background-color: brown;
      width: 100%;
      @include mp();
      form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        input, textarea {
          width: 75%;
          @include mp();
          &.bform {
            padding: 0.2rem;
            width: 20%;
          }
        }
        p {
          width: 75%;
          margin-left: 0.5rem;
          margin-bottom: 0;
        }
      }
    }
  }

  .garantias{
    background-color: coral;
    @include mp();
    @include textCenter();
  }
}

footer {
  display: flex;
  background-color: white;
  padding: 1rem;
  @include textCenter();
}